<div class="w-50 m-5 p-5 rounded border">
  <form>
    <h3>Prenotazione</h3>
    <div class="form-group mt-1">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" class="form-control" #newNome>
    </div>  

    <div class="form-group mt-1">
      <label for="Cognome">Cognome:</label>
      <input type="text" name="Cognome" class="form-control" #newCognome>
    </div>

    <div class="form-group mt-1">
      <label for="Indirizzo">Indirizzo:</label>
      <input type="text" name="Indirizzo" class="form-control" #newIndirizzo>
    </div>

    <div class="form-group mt-1">
      <label for="Telefono">Telefono:</label>
      <input type="text" name="Telefono" class="form-control" #newTelefono>
    </div>

    <div class="form-group mt-1">
      <label for="mail">Email:</label>
      <input type="text" name="mail" class="form-control" #newMail>
    </div>

    <div class="form-group mt-1">
      <label for="data">Data Prenotazione:</label>
      <input type="text" name="data" class="form-control" #newData>
    </div>

    <div class="form-group mt-1">
      <label for="ora">Ora Prenotazione:</label>
      <input type="text" name="ora" class="form-control" #newOra>
    </div>

    <button class="btn btn-primary mt-3" (click)="prenota(newNome, newCognome, newIndirizzo, newTelefono, newMail, newData, newOra)">Prenota</button>
  </form>
</div>

<div class="d-flex flex-wrap">
  <div class="m-5  p-4 rounded border  d-inline-block">
         <h5>Prenotazioni</h5>
         <div *ngFor = "let prenotazio of prenotazioni">
             <div class="mt-2 p-2 rounded border" style="width: fit-content;">
                 {{prenotazio.data}} - {{prenotazio.ora}} -> {{prenotazio.nome}} {{prenotazio.cognome}}
             </div>
             <hr>
         </div>
     </div>
 </div>

